body {
    padding-top: 60px;
}

.navbar {
    background-color: darkslategrey;
}

.tile {
    position: relative;
    display: block;
    text-align: center;
}

.tile-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    -webkit-text-stroke: 1px grey;
    font-weight: 900;
    font-size: 250%;
}

.btn-round {
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
}

.btn:disabled {
    background-color: lightgrey;
    border: grey solid 1px;
}

.fa-arrow-alt-circle-down,
.fa-arrow-alt-circle-up,
.fa-plus-circle,
.fa-times-circle {
    color: darkslategrey;
}

.hexagon {
    position: relative;
    width: 80px;
    height: 46px;
    background-color: #64C7CC;
    margin: 23px 0;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 23px solid #64C7CC;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 23px solid #64C7CC;
}
