body {
    padding-top: 60px;
}

.navbar {
    background-color: darkslategrey;
}

.tile {
    position: relative;
    display: block;
    text-align: center;
}

.tile-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    -webkit-text-stroke: 1px grey;
    font-weight: 900;
    font-size: 250%;
}

.btn-round {
    border-radius: 50%;
    display: block;
    height: 50px;
    width: 50px;
}

.btn:disabled {
    background-color: lightgrey;
    border: grey solid 1px;
}

.fa-arrow-alt-circle-down,
.fa-arrow-alt-circle-up,
.fa-plus-circle,
.fa-times-circle {
    color: darkslategrey;
}
